@charset "UTF-8";
@import url("http://www.jjuns-c.com/webColor.css");
@import url("http://www.jjuns-c.com/webFont.css");
@import url("http://www.jjuns-c.com/webReset.css");

/* body {background-color: var(--light-primary-normal)} */
h1 {color:var(--light-primary-normal)}
h2,h3,h4,h5,p,span, ul, li{color:--light-primary-normal}

table {
    width: 100%;
    border: 2px solid var(--light-primary-normal);
    border-right: 0;
    border-left: 0;
}
table tr {
	height: 30px;
}

.jumbotron {
	padding: 4rem 2rem;
    background-color: var(--light-primary-assistive) ;
}

.container {
    width: 100%;
    padding: 0 1rem;
    margin: auto;
}