<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SaramMapper">
  <select id="selectSaram" resultType="org.mybatis.saram.model.Saram">
    <!-- SELECT_ONE -->
    select * from saram where seq = #{seq}
  </select>

  <select id="selectAll" resultType="org.mybatis.saram.model.Saram">
    <!-- SELECT_ALL -->
    SELECT * FROM SARAM ORDER BY SEQ DESC
  </select>

  <select id="findByName" resultType="org.mybatis.saram.model.Saram">
    <!-- FIND_BY_NAME -->
    SELECT * FROM SARAM WHERE NAME LIKE '%'||#{name}||'%' order by id desc
  </select>

  <insert id="insertSaram" parameterType="org.mybatis.saram.model.Saram">
    <!-- INSERT -->
    INSERT INTO SARAM(SEQ, ID, NAME, EMAIL) VALUES(seq_saram.nextval, #{id}, #{name}, #{email})
  </insert>

  <update id="updateSaram" parameterType="org.mybatis.saram.model.Saram">
    <!-- UPDATE -->
    UPDATE SARAM SET ID=#{id}, NAME=#{name}, EMAIL=#{email} WHERE SEQ=#{seq}
  </update>

  <delete id="deleteSaram" parameterType="org.mybatis.saram.model.Saram">
    <!-- DELETE -->
    DELETE FROM SARAM WHERE SEQ = #{seq}
  </delete>
</mapper>

