<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BlogMapper">
  <select id="selectBlog" resultType="org.mybatis.example.model.Blog">
    select * from Blog where id = #{id}
  </select>
  
  <select id="selectAll" resultType="org.mybatis.example.model.Blog">
    select * from Blog order by id desc
  </select>
  
  <select id="selectByTitle" resultType="org.mybatis.example.model.Blog">
    select * from Blog where title like '%'||#{title}||'%' order by id desc
  </select>
  
  <insert id="insertBlog" parameterType="org.mybatis.example.model.Blog">
     insert into Blog(id, author, title, content)
   values(blog_seq.nextval, #{author}, #{title}, #{content})
  </insert>
   
  <update id="updateBlog" parameterType="org.mybatis.example.model.Blog">
     update Blog set
       author = #{author},
       title = #{title},
       content = #{content}
     where id = #{id}
  </update>

  <delete id="deleteBlog">
    delete from Blog where id = #{id}
  </delete>
</mapper>